<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">
    <div class="w-full h-full bg-zinc-900 p-10 text-white gap-4">
        <div class="nav mb-10">
            <a href="/" class="text-blue-700">Back to Home</a>
        </div>
        <h1 class="text-3xl font-bold mb-6">All Users</h1>
        <div class="users flex gap-3 flex-wrap">
            <div class="user max-w-72 p-4 bg-zinc-700 rounded-lg">
                <div class="h-52 w-full rounded-lg bg-zinc-400"></div>
                <h3 class="text-xl mt-3 tracking-tighter">Puspita Das</h3>
                <h5 class="text-gray-400">puspita@example.com</h5>
                <div class="flex gap-20 mt-10">
                    <a class="text-blue-500" href="">Edit User</a>
                    <a class="text-red-500" href="">Delete User</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>